*{
    margin: 0;
    padding: 0;
}
.container{
    /* background: hsl(204, 81%, 61%); */
    border:  5px solid goldenrod;
    
}
.section1{
    background: url(./images/desktop/image-header.jpg)  no-repeat center center / cover;
    height:80vh;
    background-position: center bottom;
    object-fit: cover;
   /* height: auto;
     width: 100%;
    height: 450px; */
}
          /* menu part  */

.menu_part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.menu span{
    padding: 10px;
    color: #fff;
}
.btn{
    padding: 7px 12px;
    border-radius: 15px 15px;
    border: none;
    text-transform: uppercase;
    font-size: 11px;
}
        /* heading img part */
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading span{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    color: white;
    padding: 45px;
    /* padding-bottom: 20px; */
}
.heading img{
    height: 80px;
    width: 25px;
}

/* section 2 */
.section2{
   background: offwhite;
}
.section2_divs{
    display: flex;
    height: auto;
   
}
.section2_div_text_left{
    flex: 50%;
    text-align: left;
    padding: 25px;
}
.section2_div_text_left h1{
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .section2_div_text_left p{
    color: rgb(165, 143, 101);
    padding-bottom: 10px;
    padding-left: 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .section2_div_text_left img{
     height: 35px;
     width: 120px;
 }
.section2_div_img_right{
    flex: 50%;
    background: url(./images/desktop/image-transform.jpg)  no-repeat center center / cover;
    object-fit: cover;
   width: 100%;
   
}
/* section 3 */
.section3{
    background: offwhite;
 }
 .section3_divs{
     display: flex;
     height: auto;
    
 }
 .section3_div_text_right{
    flex: 50%;
    text-align: left;
    padding: 25px;
}
.section3_div_img_left{
    flex: 50%;
    background: url(./images/desktop/image-stand-out.jpg)  no-repeat center center / cover;
    object-fit: cover;
    width: 100%;
}
.section3_div_text_right h1{
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .section3_div_text_right p{
    color: rgb(165, 143, 101);
    padding-bottom: 10px;
    padding-left: 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
 }